# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Archivos de compilación y caché
dist/
dist-ssr/
.vite/
.cache/
*.tsbuildinfo

# Archivos de entorno (configuraciones locales)
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Directorios de test y cobertura
coverage/
cypress/videos/
cypress/screenshots/

# Archivos específicos de editores de código
.vscode/*
!.vscode/extensions.json  # Mantiene la configuración de extensiones en VSCode
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos específicos del sistema
.DS_Store
Thumbs.db
